.gallery{width: 68%;
    .galleryNav{display: flex; justify-content: space-between; margin-top: 30px;
    img{width: 220px; height: 130px; cursor: pointer;}
    }
    img {width: 100%; height: 530px;}}