.footer {
    height: 200px;
    width: 100%; background: #000;
    position: relative;
.footerList {width: 1400px; margin: auto; li {padding-top: 10px; &:first-child {padding-top: 0px;}}}img{width: 30px; height: 30px;}span {color:#dcdcdc; font-size: 15px;}}